@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@font-face {
    font-family: 'password';
    font-style: normal;
    font-weight: 400;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

:root {
    --dark: #262335;
    --lessdark: #503c52;
    --mid: #9f6c66;
    --light: #d4896a;
    --lighter: #ffbb6c;

    --color-primary: #ffbb6c;
    --color-secondary: #d4896a;
    --color-tertiary: #9f6c66;
    --color-quaternary: #503c52;
    --color-quinary: #262335;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    border-color: transparent;
    border-style: none;
    /* font-family: 'Roboto',
    sans-serif; */
    
}

body {
    height: 100%;
    background-color: var(--dark);
    color: var(--lighter);
    font-family: canada-type-gibson,
    sans-serif;
    user-select:none;
   -ms-user-selec:none;
   -moz-user-select:none;
   -webkit-user-select:none;
}



/* input[type=text] {
    height: 53px;
    border-radius: 5px;
    padding: 10 px;
    margin: 10 px;
    border: none;
    width: 100%;
    background-color: var(--lessdark);
    font-size: 30px;
    text-align: center;
    color: var(--lighter);
    width: 10rem;
} */

/* input.key {
    font-family: 'password';
} */

.LobbyElement {
    margin: 10px;
    background: var(--lessdark);
    border-radius: 12px;
    border: 2px;
    border-color: var(--light);
    padding: 5px;
}

button:disabled,
button[disabled],
button:disabled.pushable:disabled .front {
    transform: translateY(-0px);    
    background: var(--mid);
}

.pushable {
    margin: 10px;
    background: var(--mid);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: var(--light);
    color: var(--dark);
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}


.code {
    background-color: var(--lessdark);
    padding: 3px 10px;
    border-radius: 5px;
    
}


.text_shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-family: bungee, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    /* //color: transparent;
    //background-color: white;
    //background-clip: text; */
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }

    10% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    20% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    30% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    40% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    50% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    60% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    70% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    80% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    90% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    100% {
        text-shadow: none;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }

    40% {
        transform: translate(-12px, -12px);
    }

    50% {
        transform: translate(-12px, -12px);
    }

    60% {
        transform: translate(-12px, -12px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}
