@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 15px;
      height: 15px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 1rem;
      background: #f7f4ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #555555;
      border-radius: 1rem;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #333333;
    }


    .simple::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    .simple::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.1);
    }

    .simple::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.2);
    }

    .simple::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    .simple::-webkit-scrollbar-thumb:active {
      background: rgba(0, 0, 0, .9);
    }
  }

  @layer components {

    /* This won't be included in your compiled CSS unless you actually use it */
    .button {
      @apply bg-sajat-700 hover:bg-sajat-800 focus:ring-4 focus:ring-sajat-300 rounded-lg px-5 py-4 flex flex-row items-center space-x-1
    }
    a {
      @apply m-3 w-fit h-fit
    }
    input[type=text] {
      @apply appearance-none ease-in-out text-base focus:outline-none focus:ring focus:ring-sajat-400 block w-full bg-sajat-600 text-sajat-100 border-sajat-200 border-2 rounded-lg py-3 px-4 my-3 leading-tight focus:outline-none focus:bg-sajat-700
    }

    .back_button {
      @apply p-2 left-5 xs:left-0 absolute xs:relative bg-sajat-700 hover:bg-sajat-900 focus:ring-4 focus:ring-sajat-300 px-5 py-4 flex flex-row items-center space-x-1 rounded-full pr-3
    }
    
    .item {
      @apply bg-indigo-700 text-gray-100 text-xl font-bold flex items-center content-center justify-center rounded
    }






    /* Applying Animation */
.Die-shaking{
  animation-name:wobble;
  animation-duration: 1s;
}
 
/* Setting Animation effect to the
   dice using css keyframe */
@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(-25%, 0, 0)
               rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0)
               rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0)
               rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0)
               rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0)
               rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
  }